/* Mobile first approach */
*{
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  line-height: 200%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(184, 184, 190);
}

header {
  /* display: grid;
  grid-template-columns:30% 70%; */
  display: block;
  margin-left: 2em;
}

header p {
  margin-left: 1em;
}

.container {
  margin: 0 1em;
  margin-right: 5em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 15em;
  width:15em;
  overflow: hidden;
  border-radius: 50%;
  background-image: url("../img/logo.png");
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  margin-left: 5em;
  color: white;
  padding: 2em 0;
}
.title h1 {
  font-size: 5em;
}

.content-container {
  display: grid;
  grid-template-columns:30% 70%;
  /* overflow: hidden; */
}

.contact {
  /* height: 100vh; */
  color: white;
  text-align: center;
  padding: 2.5em 1em;
}

.portfolio {
  display: grid;
  text-align: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 50% 50%;
  padding: 4em;
}

.aboutMe {
  text-align: center;
  color: rgba(84, 84, 87, 0.75);
  padding: 4em;
  background-color: white;
  border-radius: 2em;
  box-shadow: -5px -8px 76px -25px rgba(84, 84, 87, 0.75)
}

.button {
  margin-top: 2em;
  border: none;
  fill: #E0B587;
}

.button-icon {
  transition: all .6s ease-in-out; 
}

.button-icon:hover {
  transform: scale(1.3);
}

.icon {
  fill: rgba(84, 84, 87, 0.75);
  margin-bottom: 2em;
  
}

.portfolio a {
  text-decoration: none;
  color: white;
}

.portfolio div {
  height: 15em;
}

.prj1 {
  display: flex;
  vertical-align: middle;
  background-image: url("../img/1.png");
  background-position: top;
  background-size: cover;
}

.prj2 {
  background-image: url("../img/2.png");
  background-position: top;
  background-size: cover;
}

.prj3 {
  background-image: url("../img/3.png");
  background-position: top;
  background-size: cover;
}

.prj4 {
  background-image: url("../img/4.png");
  background-position: top;
  background-size: cover;
}

.prj5 {
  background-image: url("../img/5.png");
  background-position: top;
  background-size: cover;
}

.prj6 {
  background-image: url("../img/6.png");
  background-position: top;
  background-size: cover;
}

