
  /* --Base Element styles-- */
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Amatic SC', 'cursive', Helvetica, Arial, sans-serif, arial;
    line-height: 1.5;
  }

  /* --Base Layout Styles-- */

  a {
  	color: blueviolet;
    text-decoration: none;
  }

  a:hover {
    color: aquamarine;
    text-decoration: underline;
  }

  /* --Float fixes-- */


  .clearfix {
    overflow: auto;
  }

  /* -- Prevent containers collapsing --*/

  .clearfix::after {
    content: "";
    display: table;
    clear:both;

  }

  /* -- Prevent containers collapsing --*/

  .clearfix::after {
    content: "";
    display: table;
    clear:both;

  }
/* -- Content-- */

  .container {
    margin:0;
    padding: 2em;
    text-align: center;
    color: #65626D;
    background: #CFC3E3;
  }


  .main-nav h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    text-shadow: 1px 1px #F8F7FB;
  }

  .main-nav nav {
    padding-left: 0;
    border-radius: 10px;
  }

  .main-nav a {
    text-align: center;
    display: block;
    font-size: 1em;
    text-shadow: 1px 1px #F8F7FB;
    margin: 1em;
    padding: 1em 0em;
    background-color: #D7CDED;

  }

  .intro img {
    max-width:100%;
    border-radius: 50%;
    border: 5px solid white;
  }

  .intro h1 {
    font-size: 1em;
    font-weight: normal;
  }

  .skills h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1em;
    padding: 1em 0em;
    background-color: #D7CDED;
    border-radius: 10px;
  }

  .skills ul {
    padding-left: 0;
  }

  .skills li {
    display: inline-block;
    float: inherit;
    font-size: .95em;
    background-color: #D7CDED;
    border-style: inset;
    border-radius: 10px;
    padding: .3em;
    margin: 1em;
  }

  .portfolio h1{
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1em;
    padding: 1em 0em;
    background-color: #D7CDED;
    border-radius: 10px;
  }

  .portfolio h2 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: .95em;
  }

  .portfolio img {
    max-width:100%;
  }

  #contact h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1em;
    padding: 1em 0em;
    background-color: #D7CDED;
    border-radius: 10px;
  }

  #contact p {
    font-size: .8em;
  }

  #contact li {
    display: block;
    font-size: 1em;
    margin: 1em;
  }

  #contact ul {
    padding-left: 0;
  }

  #contact h3 {
    font-size: 1em;
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    padding: .5em;
  }

  #contact nav {
    display: none;
  }

  .footer .enabled {
    display: block;
    margin: 0;
    padding: .5em;
  }


/* --Media Queries */

/* --For tablets-- */
@media screen and (min-width: 768px) {

  .container {
    margin:0;
    padding: 2em;
    text-align: center;
    color: #65626D;
    background: #EFE8FB;
  }

  .main-nav h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    text-shadow: 1px 1px #F8F7FB;
  }

  .main-nav nav {
    padding-left: 0;
  }

  .main-nav a {
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    text-shadow: 1px 1px #F8F7FB;
    margin: .3em;
    padding: 1em 2em;
    background-color: #CFC3E3;
  }

  .intro img {
    display: block;
    max-width:38%;
    border-radius: 50%;
    border: 5px solid white;
    float:right;
  }

  .intro h1 {
    max-width: 50%;
    display: block;
    font-size: 1.5em;
    font-weight: normal;

    margin: 1em;
    float: left;
  }


  .skills h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1.5em;
    padding: 1em 0em;
    background-color: #CFC3E3;
    border-radius: 10px;
  }

  .skills ul {
    padding-left: 0;
  }

  .skills li {
    display: inline-block;
    float: inherit;
    font-size: 1.2em;
    background-color: #CFC3E3;
    border-style: inset;
    border-radius: 10px;
    padding: .3em;
    margin: 1em;
  }

  .portfolio h1{
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1.5em;
    padding: 1em 0em;
    background-color: #CFC3E3;
  }

  .portfolio h2 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1.2em;
  }


 .marketing {
    float: left;
    display: inline-block;
    max-width: 45%;
  }

 .search {
    float: right;
    display: inline-block;
    max-width: 45%;
  }

 .travel {
    float: left;
    display: inline-block;
    max-width: 45%;
  }

 .map {
    float:right;
    display: inline-block;
    max-width: 45%;
  }

 .photos {
    float: left;
    display: inline-block;
    max-width: 45%;
  }

  .calc {
    float: right;
    display: inline-block;
    max-width: 45%;
  }

  #contact h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1em;
    padding: 1em 0em;
    background-color: #CFC3E3;
    border-radius: 10px;
  }

  #contact p {
    font-size: .8em;
  }

  #contact li {
    display: block;
    font-size: 1em;
    margin: 1em;
  }

  #contact ul {
    padding-left: 0;
  }

  #contact h3 {
    font-size: 2em;
    display: block;
    width: 40%;
    float: left;
    margin: 0;
    padding: .5em;
  }

  #contact nav {
    display: inline-block;
    margin: 0;
    width: 60%;
    font-size: 2em;
    padding:.2em 1em;
  }

  .footer .enabled {
    display: none;
  }

}

/* --For desktops-- */
@media screen and (min-width: 1024px) {

  .container {
    margin:0;
    padding: 2em;
    text-align: center;
    color: #65626D;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #75C8B8 95%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 95%, #75C8B8 95%),
                      linear-gradient(175deg, rgba(0,0,0,0) 90%, #FCF2A2 90%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 92%, #FCF2A2 92%),
                      linear-gradient(175deg, rgba(0,0,0,0) 85%, #F0C29E 85%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 89%, #F0C29E 89%),
                      linear-gradient(175deg, rgba(0,0,0,0) 80%, #E8BFC4 80%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 86%, #E8BFC4 86%),
                      linear-gradient(175deg, rgba(0,0,0,0) 75%, #B7A2BE 75%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 83%, #B7A2BE 83%),
                      linear-gradient(175deg, rgba(0,0,0,0) 70%, #A3DEE8 70%),
                      linear-gradient( 85deg, rgba(0,0,0,0) 80%, #A3DEE8 80%);
  }

  p {
    font-size: 1.5em;
  }

  .main-nav h1 {
    text-align: left;
    display: block;
    font-size: 3em;
    text-shadow: 1px 1px #F8F7FB;
    max-width: 40%;
    padding: 1.5em;
    margin: 1em 0;
    float: left;
  }


  .main-nav nav {
    padding-left: 0;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    text-shadow: 1px 1px #F8F7FB;
    max-width: 60%;
    background-color: #CFC3E3;
    margin: 2em 0;
    float: right;
  }

  .main-nav a {
    padding: .5em;

  }

  .intro {
    margin-top: -10em;
  }

  .intro img {
    display: block;
    width:38%;
    padding: 1em;
    border-radius: 50%;
    border: 5px solid white;
    float:right;
  }

  .intro h1 {
    text-align: left;
    max-width: 50%;
    display: block;
    font-size: 2em;
    font-weight: normal;
    margin: 1em;
    float: left;
  }

  .skills h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 2.2em;
    padding: 1em 0em;
    background-color: #CFC3E3;
    border-radius: 10px;
  }

  .skills ul {
    padding-left: 0;
  }

  .skills li {
    display: inline-block;
    float: inherit;
    font-size: 1.5em;
    background-color: #CFC3E3;
    border-style: inset;
    border-radius: 10px;
    padding: .3em;
    margin: 1em;
  }

  .portfolio h1{
    text-shadow: 1px 1px #F8F7FB;
    font-size: 2.2em;
    padding: 1em 0em;
    background-color: #CFC3E3;
  }

  .portfolio h2 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 1.2em;
  }


 .marketing {
   display: inline-block;
   width: 33%;
   float: left;
  }

 .search {
   display: inline-block;
   width: 33%;
   float: none;
  }

 .travel {
   display: inline-block;
   width: 33%;
   float: right;
  }

 .map {
   display: inline-block;
   width: 33%;
   float: left;
  }

 .photos {
   display: inline-block;
   width: 33%;
   float: none;
  }

  .calc {
    display: inline-block;
    width: 33%;
    float: right;
  }

  #contact h1 {
    text-shadow: 1px 1px #F8F7FB;
    font-size: 2.2em;
    padding: 1em 0em;
    background-color: #CFC3E3;
    border-radius: 10px;
  }

  #contact p {
    font-size: 1.5em;
  }

  #contact li {
    display: block;
    font-size: 1.2em;
    margin: 1em;
  }

  #contact ul {
    padding-left: 0;
  }

  #contact h3 {
    font-size: 2em;
    display: block;
    width: 40%;
    float: left;
    margin: 0;
    padding: .5em;
  }

  #contact nav {
    display: inline-block;
    margin: 0;
    width: 60%;
    font-size: 2em;
    padding:.5em 3em;
  }

  .footer .enabled {
    display: none;
  }


}
