* {
  font-family: 'Julius Sans One', sans-serif;
  box-sizing: border-box;
}



.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
}

.photo {
  padding: 1em;
  margin: auto;
}

input {
  display: block;
  border-radius: 5px;
  border: #DED8D7 solid 1px;
  padding: .6em 2em;
  text-align: center;
  width: 60%;
  margin: auto;
}

.rebox-caption {
  display: block;
  padding: 2em;
}

.rebox-caption{
  font-size: 1em;
  line-height: 1.5em;
}




@media screen and (min-width:768px) {
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
    margin-left: 2em;

  }

  .photo {
    margin: 1.5em;
    flex-grow: 3;
  }

  input {
    display: block;
    border-radius: 5px;
    border: #DED8D7 solid 1px;
    padding: .6em 2em;
    text-align: center;
    width: 20%;
    margin: auto;

  }

  .rebox-caption {
    display: none;
    padding: 1em;
  }
  .rebox-caption p {
    font-size: 12px;
    line-height: 18px;
  }



}
